
.login-container {
    max-width: 400px;
    height: 400px;
    text-align: center;
    margin: 50px auto;
    color: #ffffff;
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}

.login-container input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 60%;
}

.login-container button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #008cff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container p {
    margin-top: 10px;
    color: #fff;
}

h1{
    margin-bottom: 50px;
}